body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  /* Cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  /* Navegação */
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }

  /* Seções principais */
  main {
    padding: 20px;
  }

  section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }

  /* Rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }